/* Gitlab Dark Userstyle */
/* Author: Stefan Stojanovic */
/* License: GPL3 <https://www.gnu.org/licenses/gpl-3.0-standalone.html> */

:root {
  --bg-color: #1C1C1C;
  --secondary-bg-color: #1A1717;
  --fg-color: #DADADA;
  --secondary-fg-color: #707070;
  --highlight-color:#3A85E2;
  --hover-color: #292929;
  --border-color: #2D2D2D;
  --button-color: #2B2B2B;
  --red:#C74B4C;
  --green:#90a959;
  --yellow:#f4bf75;
  --blue:#3A85E2;
  --magenta:#aa759f;
  --cyan: #75b5aa;
}

body, .page-wrap, .home-splash, .footer-fixed, .open-core, .customers, .footer, .customer-quote, .value-pillar-section, .feature-group, .ten-oh-announcement, .layout-page, .product-item, .content-container, .product-options, .value-content, .screen-shot-wrapper, .value-media, .list-unstyled, .gke-layer-body, .integrated-teams, .lifecycle-diagram-nav-wrapper, .callout, .source-link, .st-ui-content.st-search-results, .st-ui-type-heading.st-spelling-suggestion-link, .st-ui-footer, .u-subtle-bg, .customers-carousel-slide, .sub-wrapper, .container.u-hide-overflow, .content, .container.navless-container, .wrapper.body, .feature-gallery, .footer-container, .flash-alert, .cover-block, body.static-nav .search-box, .search-box, .navbar-form, .wrapper.comments, .md-page, .select2-input, .nav-tabs > li.active > a:hover, .mvp, .file-content.wiki, .content-list, .dropdown-input-field, .customer-logos-background, .devise-layout-html, .ace_content, .search-input, .devops-hero-container, .hero-container, .solution-container, .timeline-entry, .avatar, .md-area, .cover, .info-well, .plan, .eleven-oh-announcement, .diff-files-changed, .diff-files-changed .commit-stat-summary, .code.white .line_holder .line_content, .landing, .landing .landing-header, .main, .doc-nav > ul, .merge-request.merged, .issue.merged, .merge-request.closed, .issue.closed,  .milestones, .diff-collapsed, .nothing-here-block.diff-collapsed .click-to-expand, .code.white .err, .gfm-project_member, .nothing-here-block, .table-striped tbody tr:nth-of-type(2n+1) {
    background: var(--bg-color) !important;
    color: var(--fg-color) !important;
    border: none !important;
    border-radius: unset !important;
}

.gke-promo-banner, .panel-body.newsletter, .panel-heading.col-9, .panel.panel-default.nl, .sticky-banner.active, .twitter-block, .divider, .project, .avatar-container.s40, .s70.avatar-container, .identicon.s32 {
 	display: none !important;   
}

h1, h2, h3, h4, h5, p, em, b, li a, select, a, li, input, td, .search-input, .js-search, .light, .help-block, .description, .cover-title, .event-item-timestamp, .dropdown-menu-inner-title, .tree-holder .tree-item .tree-item-file-name i, .tree-commit-link, .tree-holder .tree-time-ago, .btn-link, .tree-holder .tree-item .tree-item-file-name a:hover, .cta-btn.ghost-primary:hover, .search form, body.index .navbar-fixed-top .search-box-icon, body.index .navbar-fixed-top .search-close, .container a:hover, .right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon, .event-note, .event-item .event-title, .search-box-icon, .blog.article .author a, .blog.article .author-twitter i, .blog.article .author-gitlab i, .btn:hover, .btn .fa, .btn svg, .cover-block .cover-desc, .projects-dropdown-container .section-header, .algolia-autocomplete .algolia-docsearch-suggestion--title, .nothing-here-block.diff-collapsed .click-to-expand, .wiki-page-header .wiki-last-edit-by strong {
    color: var(--fg-color) !important;   
}

.right-sidebar .title, .detail-page-header, .mr-widget-help, .nothing-here-block, .projects-list-item-container .project-namespace, .faq-question .fa, li.dropdown-header, .blog.list .date, .light, .breadcrumbs-list > li > a, .breadcrumb-item-text, svg.s8, .algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight, .commit .commit-row-description, span.c, .file-content.code .line-numbers a, .dropdown-bold-header, .wiki-page-header .wiki-last-edit-by, .dropdown-menu-inner-content {
    color: var(--secondary-fg-color) !important;
}

li.pull-left a:hover, li.pull-right a:hover, .tree-holder .tree-item .tree-item-file-name .fa.fa-folder.fa-fw, .description.prepend-top-5 a, .btn-link:hover, .content-list a:hover, tr a:hover, body.index .navbar-fixed-top .search-icon:hover, body.index .navbar-fixed-top .search-box-icon:hover, a p:hover, .footer-links a:hover, .source-link .external-source-link:hover, .faq-answer a:hover, .search-icon:hover, .item-description a:hover, a.all-features:hover, body.static-nav .navbar-header-dark a:hover, .blog.article .author-twitter i:hover, .blog.article .author-gitlab i:hover, .blog.article .author a:hover, p a:hover, #main-gl-nav a:hover, a.more-link:hover, a.feature-more:hover, .js-hover .feature-title:hover, i.fab:hover, .brand-holder a:hover, .float-right a:hover, .breadcrumbs-sub-title a:hover, .blog.list .more:hover, .blog.list .cover h2:hover, .feature-title:hover, p a, .nothing-here-block.diff-collapsed .click-to-expand:hover, .wiki-pages a:hover, .gfm-project_member {
 	color: var(--highlight-color) !important;
    text-decoration: none !important;
}

.fa-inverse {
    color: var(--bg-color) !important;
}

li.is-active, .header-new.dropdown a:hover, .nav .open > a, .title-container a:hover, .dropdown-content a:hover, .sidebar-top-level-items a:hover, .user-counter a:hover, .header-user.dropdown a:hover, .logo-text a:hover, body.ui-indigo .navbar-gitlab .navbar-sub-nav > li.active > a, body.ui-indigo .navbar-gitlab .nav > li.dropdown.show > a, .context-header > a:hover, .btn:hover, .page-link:hover, .contribute-tile a:hover, .right-sidebar.right-sidebar-collapsed .block:hover, .project-feature-toggle.is-checked, li.active::after, .page-item.active .page-link, .algolia-autocomplete .algolia-docsearch-suggestion--highlight, .info-well .badge.badge-gray:hover, body.ui-indigo .navbar-gitlab .navbar-sub-nav > li.active > button:hover, .navbar-sub-nav > li > button:hover, .fork-thumbnail a:hover {
    background: var(--highlight-color) !important;  
}

.tree-holder .tree-table tr:hover:not(.tree-truncated-warning) td, .algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple, .algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion:not(.suggestion-layout-simple) .algolia-docsearch-suggestion--content,  .dropdown-menu a:hover,  #nav-projects-dropdown a:hover, .dropdown-menu-right.show a:hover, .select2-results .select2-highlighted .select2-result-label, .sidebar-sub-level-items > li a:hover {
    background: var(--hover-color) !important;   
}

.navbar, .navbar-fixed-top, .navbar-default, .footer-fixed, .nav-tabs, .nav-links, .new-session-tabs, .avatar-circle, .avatar, .avatar-container, .header-user-avatar, .top-area, .breadcrumbs-container, .more, .toggle-sidebar-button, .flash-alert, .row-content-block, .navbar-form, .info-well, .dropdown-menu-toggle, .project-home-panel, .project-stats, .banner-callout.banner-non-empty-state, hr, .login-page .new-session-tabs li, .file-holder, .right-sidebar .gutter-toggle, .content-block, .select2-choices, .source-link .external-source-link, .nav-block.activities, .method + .method, .commit-box, .block, .settings, .project-visibility-setting, .card, .breadcrumbs-links .avatar-tile {
	border: none !important;   
}

.avatar-container, .user-access-role, .featured-item-button, .dropdown-menu-nav, body.ui_indigo .navbar-gitlab .navbar-sub-nav > li.dropdown.open > a, li.pull-left > a, li.pull-right > a, .well-segment, .article-information, .more, .feature, .navbar, .nav-sidebar, .toggle-sidebar-button,  .row-content-block.white, .visible-lg, #nav-projects-dropdown, .select2-choice, #select2-drop, .header-more.dropdown,  .list-unstyled.navbar-sub-nav, th, ul .sidebar-sub-level-items.fly-out-list, .file-holder .file-title, .card-header, .commit-header, .page-link, .text-expander, .hello-bar-content, .nav-tabs .nav-link.active, .login-page .new-session-tabs li:not(.active), .code.white .line-numbers, .code.white .diff-line-num, .file-title-flex-parent, .ace-tm .ace_gutter, body.index .navbar-fixed-top .search-icon, .tile, .right-sidebar, .mr-source-target, .merge-request-tabs-container .inner-page-scroll-tabs, .merge-request-tabs-holder, .row-content-block, .mr-version-controls, .navbar-collapse.collapse.in, .badge.badge-gray, .plan-name, .plan-description,  #community-edition, .all-features, #enterprise-edition-starter, #enterprise-edition-premium, #enterprise-edition-ultimate, .search-icon .blog.article .overlay, div.plan, .blog.article .overlay, .bg-light, .community-item, .blog.list .overlay, .flex-tile-list > li:not(.no-tile),  .btn.disabled, .btn[disabled], .btn.disabled:hover, .btn[disabled]:hover, #nav-projects-dropdown a, .dropdown-menu-toggle, .dropdown-menu, .header-user .dropdown-menu, .location-badge, .search-icon, .feature-media, .project-feature-settings, .main-topics li, .landing .landing-header-top, .algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"], .algolia-autocomplete .algolia-docsearch-suggestion, .header, .alert, blockquote, .tooltip-inner, .filtered-search-box, body.ui-indigo .navbar-gitlab .navbar-sub-nav > li.active > button, .navbar-sub-nav > li > button, .section-empty, .card-body, .bs-callout-info, .settings-content .sub-section, .code.white, pre.dark, .tree-holder .tree-table tr.selected td, .fork-thumbnail {
 	background: var(--secondary-bg-color) !important;
 	color: var(--fg-color) !important;
 	border: none !important;
 	border-radius: unset !important;
}

.login-page .new-session-tabs li.active a, .nav-links li.active a, .nav-tabs .nav-link.active, .pricing-options--self-hosted .plan, .pricing-tabs li.active, body.ui-indigo .nav-links li.active a:hover, .algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight, h1.article-title {
 	border-bottom: 2px solid var(--highlight-color) !important;
}

.nav-links li a.active {
    border-color: var(--highlight-color) !important;
}

.nav-links li a:hover {
    border-color: var(--hover-color) !important;
}

.pricing-options--self-hosted .plan {
 	border-top: 2px solid var(--highlight-color) !important;
}

.login-page .new-session-tabs, .login-page .login-box, .login-page .omniauth-container, .tree-holder .tree-table tr, .file-holder, .mr-state-widget, .md-area {
 	border: 1px solid var(--border-color) !important;
    border-radius: unset !important;
}

.projects-list > li, .breadcrumbs-container, .top-area, .wiki-page-header, tr > td, .event-item, .table th, ul.content-list > li, .card, .mr-widget-section, .detail-page-header, ul.notes > li .timeline-entry-inner, .comment-toolbar, .mr-widget-footer, .main-topics li h2, .algolia-autocomplete .algolia-docsearch-suggestion--category-header, .main .edit-on, .comments, table {
    border-color: var(--border-color) !important;
    border-radius: unset !important;
}

.avatar-circle, .avatar, .avatar-container, .header-user-avatar, .navbar-sub-nav > li > a, .navbar-nav > li > a, .navbar-gitlab .header-content .title a, .more, .navbar-form, .status-box, .project-feature-toggle, .toggle-icon, .select2-container-multi .select2-choices, .breadcrumbs-links .avatar-tile {
 	border-radius: unset !important;   
}

.wiki h1, .wiki h2, .file-title-flex-parent, .right-sidebar .block, .faq-inner-item, .event-item {
    border-bottom: 1px solid var(--border-color) !important;   
}

.projects-dropdown-container .project-dropdown-sidebar, .frequent-items-dropdown-container .frequent-items-dropdown-sidebar {
 	border-right: 1px solid var(--border-color) !important;
}

blockquote {
    border-left: 3px solid var(--highlight-color) !important;   
}

.commit .commit-row-description {
    border-left: 2px solid var(--highlight-color) !important;   
}

.algolia-autocomplete .algolia-docsearch-suggestion--content::before, .algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column::before {
    background: var(--border-color) !important;
}

.nav-links li a {
 	line-height: 18px !important;   
}

.enterprise-edition, .code, .discussion-form {
 	background: var(--bg-color) !important;
 	background-image: none !important;
}

.markdown-area {
    color: var(--fg-color) !important;
    background: unset !important;
    border: none !important;
}

#project-filter-form-field, #user_login, #user_password, .form-control, .login-page .new-session-tabs, .login-page .login-box, .login-page .omniauth-container, input[type="checkbox"], input[type="checkbox"]:hover, .nav-sidebar, .dropdown-input-field, .md-area, .algolia-autocomplete .algolia-docsearch-suggestion--text .algolia-docsearch-suggestion--highlight, .main {
 	box-shadow: none !important;
}

body.ui-indigo .nav-sidebar li.active svg {
    fill: var(--highlight-color) !important;
}

.right-sidebar.right-sidebar-collapsed .sidebar-collapsed-icon svg, .method svg, body.ui-indigo .search .search-input-wrap .search-icon, .commit-icon svg path, .commit-sha-group .btn svg, body.ui-indigo .nav-sidebar li.active a:hover svg, .project-repo-buttons .btn svg, .group-buttons .btn svg, [fill="#7E7E7E"] {
    fill: var(--fg-color) !important;
}

.user-contrib-cell {
    fill: var(--bg-color) !important;
}

[fill*="#ededed"] {
    fill: var(--bg-color) !important;
}

[fill="rgb(172, 213, 242)"] {
    fill: #122945 !important; 
}

[fill="rgb(127, 168, 201)"] {
    fill: #1C406B !important; 
}

[fill="rgb(82, 123, 160)"] {
    fill: #2D68AD !important; 
}

[fill="rgb(37, 78, 119)"] {
    fill: #3A85E2 !important; 
}

.merge-request-tabs-container .inner-page-scroll-tabs, .diff-files-changed .commit-stat-summary {
    margin: unset !important;
}

.header input {
    padding: 8px 8px !important;
}

code {
    top: 0 !important;   
}

/* dirty hack to get rid of arrow */
.project-repo-buttons .count-with-arrow {
    position: static !important;
}

body.ui-indigo .nav-sidebar li.active {
    box-shadow: inset 4px 0 0 var(--highlight-color) !important;  
}

.pricing-tabs li {
    border-bottom: 2px solid var(--fg-color) !important;   
}

body.static-nav .navbar-header-dark a:hover, .search-icon:hover {
    opacity: 1 !important;   
}

.code.white .line_holder .line_content.old span.idiff {
    background: #993131 !important;
}

.code.white .line_holder .line_content.new span.idiff {
    background: #2C9B43 !important;
}

.code.white .line_holder .line_content.old {
    background: #AD3838 !important;
}

.code.white .line_holder .line_content.new {
    background: #32AD4B !important;   
}

.code.white .line_holder .line_content.match {
    background: #262626 !important;
    color: rgba(218, 218, 218, .8) !important;
}

.btn, #project-filter-form-field, #project_clone, .project-repo-buttons .count-with-arrow .count,  #sort-projects-dropdown, .qa-branches-select, .form-group input, #user_bio, .select2-container .select2-choice, body.ui-indigo .search form, .search .search-input, .form-control, .projects-dropdown-container .search-input-container .search-icon, .s16.search-icon, .project-feature-toggle, .landing .docsearch, .header input, .clip-btn, .info-well .badge.badge-gray, .form-control, #commits-search, .commit-sha-group .label-monospace, .fa-search,  .dropdown-toggle, .settings-message, .input-group-text, .select2-search input, .dropdown-input-field, p code {
    background: var(--button-color) !important;
    color: var(--fg-color) !important;
    border: none !important;
    border-radius: unset !important;
    box-shadow: none !important;
}

.dropdown-menu {
    box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.4)  !important;   
}

.tree-holder .tree-item .tree-item-file-name a:hover, .description.prepend-top-5 a:hover, p a:hover {
    text-decoration: underline !important;   
}

.info-well .badge.badge-gray:hover {
    text-decoration: none !important;
}

.info-well .badge.badge-gray {
    margin: 0 8px !important;
}

.tooltip .arrow::before {
    border-bottom-color: var(--secondary-bg-color) !important;   
}

.bs-tooltip-top .arrow::before {
    border-top-color: var(--secondary-bg-color) !important;   
}

.code.white pre.code {
    border-color: var(--bg-color) !important;   
}

.code.white .o, .code.white .m, .code.white .p, .code.white .n, .code.white .nb, .code.white .nd, .code.white .k, .code.white .sx, .code.white .s1, .code.white .s, .code.white .mi, .file-content.code pre code .line, .code.white .s2, .code.white .nv {
    color: var(--fg-color) !important;
}

.code.white .cm {
    color: var(--secondary-fg-color) !important;   
}

.code.white .nc {
    color: var(--magenta) !important;
}

.code.white .nl, .code.white .py {
    color: var(--yellow) !important;
}

.code.white .nt {
    color: var(--red) !important;   
}

.code.white .cp {
    color: var(--green) !important;   
}

.code.white .kt {
    color: var(--blue) !important;   
}

.code.white .nf {
    color: var(--cyan) !important; 
}
